.home-container {
    .list-staffs {
        background-color: #ffffff;
        border-radius: 20px;
        border: 1px solid var(--primary-color);
        padding: 20px;
        min-height: 500px;

        .list-staffs__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;

            .list-staffs__title {
                color: #007320;
                padding-left: 20px;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .list-staffs__body {
            width: 100%;

            .list-staffs__loading {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
            }

            .list-staffs__data {
                width: 100%;
                padding: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
                row-gap: 60px;
            }

            .list-staffs__empty {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
                font-size: 25px;
                font-weight: 600;
                color: var(--secondary-color);
            }
        }
    }

    .filter-container {
        position: fixed;
        z-index: 1000;
        top: 72px;
        right: 0;
        min-width: 680px;
        height: calc(100vh - 72px);
        background-color: #fff;
        animation: showFilter 0.3s forwards;
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        .filter-item {
            .filter-language__btn--active {
                background-color: #a744be;
                color: #fff
            }

            .filter-childcare--active {
                background-color: #1976d2;
                color: #fff
            }

            .filter-cookings__btn--active {
                background-color: #ff6624;
                color: #fff
            }

            .filter-prices__btn--active {
                background-color: #b70f0a;
                color: #fff
            }

            .filter-rating__btn--active {
                background-color: #0ab718;
                color: #fff
            }
        }
    }

    .paginate {

        .paginate-item {
            font-size: 20px;
            padding: 0.5em 1em;
            opacity: 1;
            transition: opacity 0.2s ease;

            &.active {
                background: transparent;
                color: #007320;
                text-decoration: underline 2px;
                text-underline-offset: 5px;
            }

            &:not(.active):hover {
                background-color: transparent;
                opacity: 0.7;                
            }
        }

    }
}

@keyframes showFilter {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 500px;
    }
}
