.filter-box {
    display: flex;
}
.newfilback {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.range-slider-container {
    width: 80%;
    text-align: center;
    color: black;
  }
  
  .range-slider {
    width: 100%;
    margin-top: 10px;
  }
  