.profile-container {
    display: flex;
    justify-content: center;

    .profile-form {
        border: 1px solid var(--primary-color);
        border-radius: 20px;
        min-height: 500;
        height: fit-content;
        width: fit-content;
        padding: 40px;

        .profile-form__item {
            display: flex;
            flex-direction: column;
            padding: 5px 0;
            position: relative;

            .profile-form__label {
                font-size: 24px;
                color: var(--primary-color);
                padding: 10px 0;
                font-weight: 600;
                user-select: none;
            }

            .profile-form__input {
                width: 640px;
                height: 48px;
                border-radius: 10px;
                padding: 0 15px;

                background: #d9d9d9;
                color: #000;
                font-weight: 600;

                border: none;
                outline: none;
                transition: all 0.2s linear;

                &:focus,
                &:hover {
                    box-shadow: 0 0 0 2px var(--secondary-color);
                }
            }

            .profile-form__input--target {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .profile-form__input--radio {
                display: flex;
                align-items: center;

                input[type="radio"] {
                    width: 24px;
                    height: 24px;
                    accent-color: var(--primary-color);
                    cursor: pointer;
                }

                label {
                    color: var(--primary-color);
                    font-size: 24px;
                    font-weight: 400;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }

            .profile-error-message {
                color: red;
                font-size: 13px;
                padding: 5px 0;
            }

            .animate-height--nationality {
                position: absolute;
                background-color: #fff;
                width: 100%;
                top: 100%;
                z-index: 100;
                overflow: hidden;

                .select-nationality {
                    border: 2px solid var(--secondary-color);
                    border-radius: 15px;
                    overflow: hidden;

                    .select-nationality__item {
                        cursor: pointer;
                        padding: 15px;

                        &:hover {
                            background-color: #e9e9e9;
                        }
                    }
                }
            }
        }

        .profile-form__item--target {
            .profile-form__input--radio {
                margin: 7px 0;
            }
        }

        .profile-form__buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            input {
                width: 207px;
                height: 48px;
                border-radius: 10px;
                border: none;
                font-weight: 600;
                color: #fff;
                cursor: pointer;
                transition: all 0.1s linear;

                &:hover {
                    border: 2px solid #fff;
                    outline: 2px solid var(--third-color);
                }
            }

            &--submit {
                background-color: var(--primary-color);
            }

            &--reset {
                background-color: var(--third-color);
            }
        }
    }
}
