:root {
    --primary-color: #007320;
    --secondary-color: #007320a6;
    --third-color: #72c78a;
}

// import font-family
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

// loading style
@import url("./partials/loading/_loading_style.scss");

//home style
@import url("./partials/home/_home.scss");
@import url("./partials/home/_staff_card.scss");

// global style
@import url("./partials/paging/_paging.scss");
@import url("./partials/header/_header.scss");

//staffdetail style
@import url("./partials/staffdetail/_staffdetail.scss");
@import url("./partials/staffdetail/_bookingform.scss");

//profile style
@import url("./partials/profile/_profile.scss");

//hired style
@import url("./partials/hired/_hired.scss");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #007320;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ccc;
    }
}

.main-session {
    margin-top: 72px;
    padding: 50px;
    background-color: #f9f9f9;
    min-width: 600px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
